header, main#content {
  margin:0 5% 0 10%;
}

main#content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
#orphanages-registered .map-container {
    margin-top: 20px;
    background: #FFF;
    border: 1px solid #B3DAE2;
    border-radius: 20px;
  }
  
#orphanages-registered .map-container footer {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

#orphanages-registered .map-container footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#orphanages-registered .map-container footer h1 {
  color: #4D6F80;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

  
#orphanages-registered .map-container .leaflet-container {
    border-bottom: 1px solid #DDE3F0;
    border-radius: 20px;
  }

#orphanages-registered .map-container .btn-edit {
  background:#EBF2F5;
  margin: 10px;

}