#page-login aside.app-sidebar {
    width: 60%;
    justify-content:center;
  }
  
#page-login aside.app-sidebar img {
    width: 260px;
    animation-duration: 1000ms;
  }

#page-login .location {
  padding-top: 80px;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  flex-direction: column;

  text-align: center;
  animation-duration: 1200ms;
}

aside.app-sidebar div > button {
  margin-bottom: 10px;
}
aside footer img{
  width: 24px;
  height: 24px;
}

aside div button img{
  width: 24px;
  height: 24px;
}

aside.app-sidebar div > button.selected {
  background: #FFD666;
}

