<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-success.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
</head>

<body id="page-success">
    <div id="container">
        <div class="info-success">
            <img src="/images/icons/success-check-icon.svg" alt="Sucesso">
            <h1>Cadastro Salvo!</h1>
            <p>Tudo certo, seu cadastro está na nossa lista de professores.<br>
                Agora é só ficar de olho no seu WhatsApp.</p>

            <a href="/study{{queryString}}">
                Acessar Lista
            </a>

        </div>
    </div>
</body>
<script>
    var url = "{{queryString}}";
    var strReplace = /amp;/gi;
    var urlReplaced = url.replace(strReplace,'')
   setTimeout(function(){location.href = "study"+urlReplaced+".html"},2000);

</script>



</html>